- if usuario_signed_in?
	%b
		

- @artigos.each do |artigo|
	
	%h2
		= link_to artigo.Título, artigo
	
	%p 
		= truncate(artigo.Conteúdo, length: 100)
	
	%p(align="right")
		Publicado em 
		= artigo.created_at.strftime('%d %b de %Y')


%br
%br
%br
%b
	%p(align="left")
		.btn-group-lg		
		=link_to "Sobre o Discipule", "sobre", class: "btn btn-info"



