%h1= @artigo.Título
%p= @artigo.Conteúdo


.btn-group
	= link_to "Editar", edit_artigo_path(@artigo), class: "btn btn-warning"
.btn-group
	= link_to "Deletar", artigo_path(@artigo), method: :delete, class: "btn btn-danger"	
.btn-group
	= link_to "Voltar", root_path, class: "btn btn-info"

%br
%br

