%h1(align="center") Sobre

%p(align="center")
	Universidade de Brasília
	%br
	Faculdade UnB Gama
	%br
	Engenharia de Software
	%br
	Orientação a Objetos
	%br
	Professor: Renato Coral
	%br
	%br

	Projeto: Discipule - Cadastro de Conteúdos Online
	%br
	Alunos: Eduardo Gomes, Miguel Pimentel, Daniel Moura
	%br
	%br
	Criado em
	%br
	09 de Dezembro de 2015



%p(align="center")
	.btn-group
	= link_to "Voltar", root_path, class: "btn btn-info"
%br
%br






