%html
%head
	%title Discipule -  Compartilhando conhecimentos
	= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
	= javascript_include_tag 'application', 'data-turbolinks-track' => true
	= csrf_meta_tags
%body
	%nav.navbar.navbar-default.navbar-fixed-top
		.container
			= link_to "Discipule", root_path, class: "navbar-brand"
			%ul.nav.navbar-nav.navbar-right
				%li= link_to "Publicar Conteúdo", new_artigo_path

	%p.notice= notice
	%p.alert= alert

	.container
		.row
			.col-md-8
				= yield
			.col-md-4
				%ul.list-group-item
					%li= link_to "Todos os artigos", root_path, class: "list-group-item"
					- Categoria.all.each do |categoria|
						%li= link_to categoria.Nome, artigos_path(categoria: categoria.Nome), class: "list-group-item"